<!DOCTYPE html>
<html ng-app="lc">
	<head>
		<title>Hands Free Leveler</title>
		<script src="../js/angular.min.js"></script>
		<script src="../js/angular-route.min.js"></script>
		<link href="../css/iconFont.css" rel="stylesheet">
		<link rel="stylesheet" href="../css/metro-bootstrap.css">
		<link rel="stylesheet" href="../css/main.css">
		<script src="../js/jquery.min.js"></script>
		<script src="../js/jquery.widget.min.js"></script>
		<script src="../js/desktopNotification.js"></script>
		<script src="../js/controller.js"></script>
		<script src="../js/metro-progressbar.js"></script>
		<script src="../js/metro.min.js"></script>
		<script>
			var gui = require('nw.gui');
			var win = gui.Window.get();
			win.width = 700;
			win.height = 350;
		</script>
	</head>
	<body class="metro">
		<div class="panel" style="border:none;">
		    <div class="panel-header bg-lightBlue fg-white">
		        News
		    </div>
		    <div style="clear:both;">
			    <blockquote class="place-right">
	                <p>Ekko added to the system.</p>
	                <small>The Law <cite title="Source Title">02.06.2015</cite></small>
	            </blockquote>
            </div>
            <div style="clear:both;">
			    <blockquote>
	                <p>Hello, thank you for trying or buying Hands Free Leveler. I am working too hard to make this best leveler ever released. As we are in the beta state, there can be errors or bugs. Please report them to me using report bug section. <b>Please do not report bugs from forum.</b></p>
	                <small>The Law <cite title="Source Title">02.06.2015</cite></small>
	            </blockquote>
            </div>
            <div style="clear:both;">
	            <blockquote class="place-right">
	                <p>Hands Free Leveler beta just released, thank you for your contribution.</p>
	                <small>The Law <cite title="Source Title">02.06.2015</cite></small>
	            </blockquote>
            </div>
		</div>
	</body>
</html>