<!DOCTYPE html>
<html ng-app="lc">
	<head>
		<title>Hands Free Leveler</title>
		<script src="../js/angular.min.js"></script>
		<script src="../js/angular-route.min.js"></script>
		<link href="../css/iconFont.css" rel="stylesheet">
		<link rel="stylesheet" href="../css/metro-bootstrap.css">
		<link rel="stylesheet" href="../css/main.css">
		<script src="../js/jquery.min.js"></script>
		<script src="../js/jquery.widget.min.js"></script>
		<script src="../js/desktopNotification.js"></script>
		<script src="../js/controller.js"></script>
		<script src="../js/metro-progressbar.js"></script>
		<script src="../js/metro.min.js"></script>
		<script>
			var gui = require('nw.gui');
			var win = gui.Window.get();
			win.width = 700;
			win.height = 285;
		</script>
	</head>
	<body class="metro">
		<div class="panel" style="border:none;">
		    <div class="panel-header bg-lightBlue fg-white">
		        Stats
		    </div>
		    <p>Stats will be activated next week.</p>
		</div>
	</body>
</html>