<?xml version="1.0" encoding="utf-8"?>
<HFL>
  <Account>
    <Username>harmankardon</Username>
    <Password>123321</Password>
  </Account>
  <Paths>
    <BOL>C:\BoL Studio\BoL Studio.exe</BOL>
    <GAME>C:\Riot Games\League of Legends\lol.launcher.admin.exe</GAME>
    <GAMEVERSION>5.20.15_10_13_15_24</GAMEVERSION>
  </Paths>
</HFL>