<div class="container" ng-if="form === 4" style="background-color:white;">
    <h1>Live Controller <small style="font-size:18px;">Live details of running smurfs</small></h1>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="smurf in liveData" ng-class="smurf.gameCode == selectedCode ? 'list-group-item-success' : 'list-group-item-info'" style="cursor:pointer;" ng-click="select(smurf);">Smurf #{{$index+1}}</li>
        </div>

        <div class="col-md-10" ng-if="selectedCode !== false">
            <div class="col-md-6">
                <h4>Details of the selected smurf</h4>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">{{showSmurf().level}}</span>
                    Level
                  </li>
                  <li class="list-group-item">
                    <span class="badge">{{showSmurf().hero}}</span>
                    Champion
                  </li>
                  <li class="list-group-item">
                    <span class="badge">{{showSmurf().time}}</span>
                    Game Time
                  </li>
                  <li class="list-group-item">
                    <span class="badge">{{showSmurf().kill}}</span>
                    Kills
                  </li>
                  <li class="list-group-item">
                    <span class="badge">{{showSmurf().death}}</span>
                    Deaths
                  </li>
                  <li class="list-group-item">
                    <span class="badge">{{showSmurf().assist}}</span>
                    Assists
                  </li>
                </ul>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="5" disabled style="max-width:100%;" ng-model="showSmurf().chat" ng-trim="false" ng-list="&#10;">
                </textarea>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="1"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-6" style="margin-bottom:15px;">
                        <button type="button" class="btn btn-success" style="width:100%;">Send</button>
                    </div>
                    <div class="col-md-6" style="margin-bottom:15px;">
                        <button type="button" class="btn btn-danger" style="width:100%;">Send All</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="text-align:center;">
                    <h4>Live Map <small></small></h4>
                    <div style="position:relative;">
                      <img ng-if="showSmurf().map == 'summonerRift'" src="/img/sr.jpg" width="100%" style="margin-bottom:20px;" id="currentmap"/>
                      <img ng-if="showSmurf().map != 'summonerRift'" src="/img/aram.png" width="100%" style="margin-bottom:20px;" id="currentmap"/>
                      <span class="heroMarker"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="remoted !== true">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3>Your client is not running</h3>
      </div>
    </div>
</div>