<div class="container"
 style="background-color:white;">
    <h1>Smurf List <small style="font-size:18px;">Manage you smurf accounts list (Changes are live on your computer if it is running)</small></h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
              <label for="usr">Username</label>
              <input type="text" class="form-control" id="usr" ng-model="username">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <label for="usr">Password</label>
              <input type="text" class="form-control" id="usr" ng-model="password">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <label for="usr">Desired Level</label>
              <input type="text" class="form-control" id="usr" ng-model="level">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="usr">&nbsp;</label>
                <button type="button" class="btn btn-info form-control" ng-click="smurfs.push({username:username,password:password,maxLevel:level,currentLevel:1})">Add Smurf</button>
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-success" style="width:100%;" ng-click="saveSettings()">Save</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12" style="overflow-x : auto;">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Current Level</th>
                    <th>Desired Level</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="smurf in smurfs">
                    <td>{{smurf.username}}</td>
                    <td>{{smurf.password}}</td>
                    <td>{{smurf.currentLevel}}</td>
                    <td>{{smurf.maxLevel}}</td>
                    <td><button type="button" class="btn btn-danger" ng-click="smurfs.splice($index,1)">Delete</button></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>